.App {
  text-align: center;
  background-color: aqua;
height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.table{
  border: 2px solid black;
}
.colums{
  border: 1px solid black;
}

.container{
  margin:auto;
  text-align: center;
  padding: 10px;
  width: 90%;
  background-color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
